{% extends 'base.html' %}

{% block Title %}
WELCOME
{% endblock %}

{% block Context_up %}
<center>
<h2>
    Привет мой дорогой друг, ты попал куда надо, это приветственная страничка грандиозной задумки из которой должен получиться офигенный проэкт, а потом и портал для ленивых админов ))))
</h2>
</center>
{% endblock %}

{% block Context %}
<center>
    <h3>
        На данный момент четкой структуры нет, т.к. все сразу не захватишь
        <p>
            Появилось понимание 2 первоначальных модулей проэкта
        </p>
        <p>
        <h2>1 -Программа для организации резервного копирования:</h2>
        </p>
        <p>
            - должна уметь копировать файлы в том числе рекурсивно по сети и с возможностью скрвтия сервера резервного копирования
        </p>

        <p>
        <h2>2 -раздел wiki</h2>
        </p>
        <p>
            - в него уйжет все описание проэкта, документация, и планирование
        </p>
    </h3>
</center>
{% endblock %}
